@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Text:ital,wght@0,500;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;1,300&family=Wix+Madefor+Text:ital,wght@0,500;1,800&display=swap');
body{
    background-color:antiquewhite;
}

*{
    margin:0;
    padding:0;
}

nav{
    font-family: 'Ubuntu', sans-serif;
}
nav ul{
    align-items: center;
    display:flex;
    list-style-type:none;
    background-color: black;
    height:60px;
    color:white;
}
.brand img{
    width:50px;
    padding: 0 8px;
}

.brand{
    display:flex;
    align-items:center;
    font-size: 1.3rem;
    font-weight: bolder;
}
nav ul li{
    padding:0 8px;
}
.container{
    min-height:60vh;
    font-family: 'Ubuntu', sans-serif;
    background-color: black;
    color:white;
    display:flex;
    width:70%;
    margin:23px auto;
    border-radius:13px;
    padding:30px;
    background-image: url('music.jpg');
}
.bottom{
    position: sticky;
    height: 70px;
    background-color: black;
    bottom:0;
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
    flex-direction:column;  
}
#myProgressBar{
    width: 90vw;
    cursor:pointer;
}
.icons{
    margin-top: 10px;
}
.icons i{
    cursor: pointer;
}
.songItemContainer{
    margin-top:40px;
}
.songItem{
    height:38px;
    display:flex;
    background-color: white;
   
    color:black;
    margin: 10px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}
.songItem img{
    width:30px;
    margin: 0 23px;
    border-radius:34px;
}
.timestamp{
    margin:0 20px;
    
}
.timestamp i{
    cursor: pointer;
}
.songInfo{
    position: absolute;
    left:5vw;
    font-family: 'Ubuntu', sans-serif;
}
.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}